@model Netflixx.Models.FilmsModel
@{
    ViewData["Title"] = Model.Title;
}

<div class="container-fluid main-content" style="padding-top: 70px;">

    <link rel="stylesheet" href="~/css/film.css" />


<div class="container mt-4">
    <div class="row">
        <div class="col-md-4">
            <img src="@(Model.FilmURL ?? "https://via.placeholder.com/300x450")"
                 class="img-fluid rounded"
                 alt="@Model.Title">
        </div>
        <div class="col-md-8">
            <h1 class="text-light">@Model.Title</h1>
            <p><strong class="text-info">Thể loại:</strong> <span class="text-light">@Model.Genre</span></p>
            <p><strong class="text-info">Ngày:</strong> <span class="text-light">@Model.ReleaseDate?.ToString("dd/MM/yyyy")</span></p>
            <p><strong class="text-info">Giá:</strong> <span class="text-light">@Model.Price VNĐ</span></p>
            <p><strong class="text-info">Đánh giá:</strong> <span class="text-light">@Model.Rating/10</span></p>

            <h3 class="mt-4 text-light">Description</h3>
            <p class="text-light">@(Model.Description ?? "No description available.")</p>

            <div class="mt-4">
                <a href="@Model.FilmURL" class="btn btn-danger btn-lg" target="_blank">Xem Phim</a>
                <a asp-action="Type" class="btn btn-outline-light">Quay lại</a>
            </div>
        </div>
    </div>
</div>
</div>