@model Netflixx.Models.Vnpay.PaymentResponseModel
@{
    ViewData["Title"] = "Payment Result";
}
@await Html.PartialAsync("_ToastPartial")
<div class="container mt-5 pt-5">
    <h2>Kết quả thanh toán</h2>
    @if (Model != null)
    {
        <table class="table table-bordered table-striped">
            <tr>
                <th>Mô tả đơn hàng</th>
                <td>@Model.OrderDescription</td>
            </tr>
            <tr>
                <th>Mã giao dịch</th>
                <td>@Model.TransactionId</td>
            </tr>
            <tr>
                <th>Mã đơn hàng</th>
                <td>@Model.OrderId</td>
            </tr>
            <tr>
                <th>Phương thức thanh toán</th>
                <td>@Model.PaymentMethod</td>
            </tr>
            <tr>
                <th>Mã thanh toán</th>
                <td>@Model.PaymentId</td>
            </tr>
            <tr>
                <th>Mã phản hồi VNPay</th>
                <td>@Model.VnPayResponseCode</td>
            </tr>
        </table>
    }
    else
    {
        <p>Không có thông tin thanh toán.</p>
    }
</div>
